*, *::after, *::before {
    box-sizing: border-box;
}

.content {
    background-color: rgb(240, 228, 207);
    border: 10px ridge lightseagreen;
    border-radius: 20px;
    padding: 10px;
}

.title {
    width: 300px;
    margin: 20px auto;
    color: whitesmoke;
    background-color: salmon;
    text-align: center;
    padding: 30px 0px;
    border: 10px outset salmon;
    border-radius: 20px;
}

.recipes {
    background-color: honeydew;
    margin: 10px 50px;
    padding: 20px 10px;
    border: 2px outset salmon;
    border-radius: 20px;
    list-style: none;
}

.recipes img {
    margin-top: 10px;
}

.recipe1,
.recipe2,
.recipe3 {
    width: 300px;
    background-color: salmon;
    padding: 20px 10px;
    border: 2px outset salmon;
    border-radius: 20px;
    list-style: none;
}

.h1 {
    text-shadow: 2px 2px lightseagreen;
}

.h2 {
    text-shadow: 1px 1px salmon;
}

.img {
    display: inline-block;
    border: 3px inset lightseagreen;
    border-radius: 20px;
    margin-bottom: 20px;
}

.ingredients,
.steps {
    max-width: 600px;
    background-color: honeydew;
    border: 3px outset salmon;
    border-radius: 20px;
    padding: 10px 30px;
}

.home {
    display: block;
    width: 120px;
    color: black;
    background-color: salmon;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    border-radius: 5px;
}